.container {
    display: flex;
    flex-direction: column-reverse;
    &>div {
        background-color: gray;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
    }
}